# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Data files
# Allow specific data files
!data/processed/cleaned_biblio.csv
!data/processed/deduplicate_self.csv
!data/processed/deduplicated_scraped_data.csv
!data/processed/duplicate_data.csv
!data/processed/duplicate_entries.csv
!data/processed/failed_projects.csv
!data/processed/final_combined_data.csv
!data/processed/final_deduped_data.csv
!data/processed/final_deduped_data_withkeyword.csv
!data/processed/fsrdc5_related_papers_api_all.csv
!data/processed/research_outputs_1735_4.csv
!data/processed/scraped_data.csv
!data/processed/scraped_data_intermediate.csv
!data/processed/enriched_cleaned_data_openalex.csv
!data/processed/enriched_scraped_data_openalex.csv
!data/processed/merged_3_enriched_data.csv
!data/raw/ProjectsAllMetadata.xlsx
!data/raw/ResearchOutputs.xlsx
!data/raw/cleaned_data.csv
!data/raw/cleaned_biblio.csv

# Other data files are still ignored
data/raw/*
data/processed/* 